html {
  background-color: #17181c !important;
}

body {
  color: #dbd9d5;
}

html,
body,
input,
textarea,
select,
button {
  border-color: #575757;
  color: #e8e7e3;
}

.navbar {
  background: transparent;
  border-top-color: #363636;
  border-bottom-color: #363636;
}

.navbar-link {
  color: #dbd9d5;
}

a {
  color: #59c6e8;
}

a:hover,
a:visited {
  color: #59c6e8 !important;
}

a.navbar-link:visited {
  color: #dbd9d5 !important;
}

a.navbar-link:hover {
  color: #59c6e8 !important;
}

.content {
  color: #ccc9c3;
}

.content a:not(.button) {
  border-bottom-color: #3a3a3a;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #d4d1cc;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select,
textarea {
  background-color: #17181c;
  border-top-color: #3c3c3c;
  border-right-color: #3c3c3c;
  border-bottom-color: #3c3c3c;
  border-left-color: #3c3c3c;
  box-shadow: none;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  color: #c8c5bf;
  text-decoration-color: initial;
  background-color: transparent;
  border-top-color: #414141;
  border-right-color: #414141;
  border-bottom-color: #414141;
  border-left-color: #414141;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  color: #d5d2cd;
  border-top-color: #4b4b4b;
  border-right-color: #4b4b4b;
  border-bottom-color: #4b4b4b;
  border-left-color: #4b4b4b;
  outline-color: initial;
}

hr {
  border-top-color: #393939;
}

.section {
  background-color: #17181c;
}

.title {
  color: #d4d1cc;
}

.card {
  background-color: #17181c;
  background-color: #23272f;
  box-shadow: rgba(9, 10, 11, 0.1) 0px 2px 3px,
    rgba(9, 10, 11, 0.1) 0px 0px 0px 1px;
  color: #ccc9c3;
}

.card-footer {
  border-top-color: #3a3a3a;
}

.modal-card-body {
  background-color: #17181c;
}

.about .icon-avatar {
  border-top-color: #0d8ab1;
  border-right-color: #0d8ab1;
  border-bottom-color: #0d8ab1;
  border-left-color: #0d8ab1;
}
