.is-circle {
  border-radius: 50%;
}

.has-padding {
  padding-left: 50px;
}

.has-border {
  border: 3px solid white;
  padding: 3px;
}

.no-decoration {
  list-style: none !important;
  text-decoration: none;
}
